# POSTGRES
POSTGRES_USER=invoiceflow
POSTGRES_PASSWORD=invoiceflow_dev_pw
POSTGRES_DB=invoiceflow
POSTGRES_PORT=5432

# MONGODB
MONGO_ROOT_USER=invoiceflow
MONGO_ROOT_PASSWORD=invoiceflow_dev_pw
MONGO_PORT=27017

# KAFKA
KAFKA_CLUSTER_ID=xPVfcCs4TwSU16iee1kbGQ
KAFKA_HOST_PORT=29092
KAFKA_TOPIC_PARTITIONS=3
KAFKA_UI_PORT=9090

# MINIO
MINIO_ROOT_USER=invoiceflow
MINIO_ROOT_PASSWORD=invoiceflow_dev_pw
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET=invoices
